@charset "UTF-8";
/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/
/*font-family: 'Noto Sans JP', sans-serif;*/
/* CSS Document */
.header-wrapper {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-top: 43px;
  padding-bottom: 26px;
}
@media screen and (max-width: 450px) {
  .header-wrapper {
    padding-top: 84px;
    padding-bottom: 0px;
  }
}
.header-wrapper-nav {
  margin-right: auto;
  margin-left: auto;
  width: 836px;
}
@media screen and (max-width: 840px) {
  .header-wrapper-nav {
    width: 94.6875%;
  }
}
@media screen and (max-width: 450px) {
  .header-wrapper-nav {
    width: 88.4375%;
  }
}
.header-wrapper-nav-list {
  display: flex;
  justify-content: space-between;
}
.header-wrapper-nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .siteLogo {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 11px;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .header-wrapper-nav-list-item-image {
    width: 49.63px;
  }
}
.header-wrapper-nav-list-item-image-img {
  width: 100%;
}
.header-wrapper-nav-list-item-link {
  line-height: 1.35714286;
  letter-spacing: 0.14186em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 450px) {
  .header-wrapper-nav-list-item-link {
    letter-spacing: 0.16667em;
    line-height: 1.3333;
    font-size: 12px;
  }
}
.header-wrapper-nav-list-item-link:hover {
  opacity: 0.5;
}
/*main*/
.firstView-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  margin-right: 5vw;
  margin-left: 5vw;
  padding-top: 107px;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper {
    padding-top: 56px;
  }
}
.firstView-wrapper-firstBG_wrapper {
  position: absolute;
  top: 0px;
  left: -5vw;
  z-index: -1;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-firstBG_wrapper {
    top: -33px;
  }
}
.firstView-wrapper-firstBG {
  position: relative;
  left: 24px;
  margin-left: auto;
  width: 348px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-firstBG {
    left: 43px;
    width: 182px;
  }
}
.firstView-wrapper-secondBG {
  position: absolute;
  z-index: -1;
  top: 52px;
  left: calc(-5vw - 244px);
  width: 874px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-secondBG {
    left: calc(-5vw - 137px);
    width: 309px;
  }
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-secondBG {
    top: 66px;
    left: calc(-5vw - 134px);
  }
}
.firstView-wrapper-thirdBG {
  position: absolute;
  top: 583px;
  left: 5vw;
  z-index: -2;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thirdBG {
    top: 337px;
  }
}
.firstView-wrapper-thirdBG-container {
  position: relative;
  right: 105px;
  margin-left: auto;
  width: 170px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thirdBG-container {
    right: -16px;
    width: 136px;
  }
}
.firstView-wrapper-image {
  width: 100%;
}
.firstView-wrapper-thumbnail {
  margin-bottom: 31px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-thumbnail {
    margin-bottom: 16px;
  }
}
.firstView-wrapper-thumbnail:hover {
  opacity: 0.5;
}
.firstView-wrapper-thumbnail-image {
  background-color: #dedede;
  padding: 20px 20px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thumbnail-image {
    padding: 10px 10px;
  }
}
.firstView-wrapper-thumbnail-image-img {
  width: 586px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thumbnail-image-img {
    width: 100%;
  }
}
.firstView-wrapper-time {
  margin-bottom: 179px;
  display: block;
  line-height: 1.3125;
  letter-spacing: 0.08333em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 48px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-time {
    margin-bottom: 175px;
    line-height: 1.333333333;
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-time {
    display: inline-block;
    text-align: start;
  }
}
.firstView-wrapper-time-br {
  display: none;
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-time-br {
    display: block;
  }
}
.firstView-wrapper-concept {
  margin-right: auto;
  margin-bottom: 166px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 913px;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept {
    width: 98%;
  }
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-concept {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.firstView-wrapper-concept-image {
  margin-right: 34px;
  width: 240.03px;
  flex-shrink: 0;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept-image {
    width: 135.36px;
  }
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-concept-image {
    margin-right: 0px;
    margin-bottom: 28px;
  }
}
.firstView-wrapper-concept-image-img {
  width: 100%;
}
.firstView-wrapper-concept-texts {
  text-align: start;
}
.firstView-wrapper-concept-texts-title {
  margin-bottom: 23px;
  line-height: 1.19444444;
  letter-spacing: 0.08333em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 36px;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept-texts-title {
    margin-bottom: 3px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-size: 20px;
  }
}
.firstView-wrapper-concept-texts-text {
  line-height: 1.5;
  letter-spacing: 0.0555em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept-texts-text {
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
/*mediaSection*/
.media-wrapper {
  margin-right: 5vw;
  margin-left: 5vw;
}
/*eclairMedia*/
.media-wrapper-eclairMedia {
  position: relative;
  margin-bottom: 172px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia {
    margin-bottom: 80px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia {
    justify-content: flex-end;
  }
}
.media-wrapper-eclairMedia-bgOutSide {
  position: absolute;
  z-index: -1;
  top: 353px;
  left: -5vw;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-bgOutSide {
    top: 417px;
  }
}
.media-wrapper-eclairMedia-bgOutSide-bgInSide {
  position: relative;
  left: -5px;
  width: 288px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-bgOutSide-bgInSide {
    left: -46px;
    width: 150px;
  }
}
.mediaImg {
  width: 100%;
}
.media-wrapper-eclairMedia-texts {
  margin-right: 50px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-texts {
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .media-wrapper-eclairMedia-texts {
    text-align: start;
  }
}
.media-wrapper-eclairMedia-texts-title {
  margin-bottom: 33px;
  display: inline-block;
  line-height: 1.28125;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 96px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-texts-title {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-texts-title {
    line-height: 1.27083333;
    font-size: 48px;
  }
}
.media-wrapper-eclairMedia-texts-text {
  width: 531px;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-texts-text {
    margin-right: auto;
    margin-left: auto;
    text-align: start;
    width: 98%;
    line-height: 1.77777777778;
    letter-spacing: 0.0555em;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: normal;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-texts-text {
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column {
    width: 87%;
  }
}
.media-wrapper-eclairMedia-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-column-item {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column-item {
    margin-bottom: 8px;
  }
}
.media-wrapper-eclairMedia-column-item:nth-child(1) {
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-column-item:nth-child(1) {
    margin-top: 17px;
  }
}
.media-wrapper-eclairMedia-column-item:nth-child(5) {
  margin-bottom: 0px;
}
.media-wrapper-eclairMedia-column-item-image {
  margin-right: 14px;
  width: 82px;
  flex-shrink: 0;
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column-item-image {
    width: 61px;
  }
}
.media-wrapper-eclairMedia-column-item-image-img {
  width: 100%;
}
.media-wrapper-eclairMedia-column-item-description {
  line-height: 1.25;
  width: 255px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-column-item-description {
    line-height: 1.25;
    width: fit-content;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column-item-description {
    font-size: 12px;
  }
}
/*itokoba*/
.media-wrappwer-itokoba {
  position: relative;
  /*    こちらが正規*/
  /*  margin-bottom: 112px;*/
  margin-bottom: 118px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .media-wrappwer-itokoba {
    flex-wrap: wrap-reverse;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrappwer-itokoba {
    justify-content: flex-start;
  }
}
/*背景*/
.media-wrapper-itokoba-bgOutSide {
  position: absolute;
  z-index: -1;
  top: 351px;
  left: -5vw;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-bgOutSide {
    top: 369px;
  }
}
.media-wrapper-itokoba-bgOutSide-bgInSide {
  position: relative;
  margin-left: auto;
  width: 288px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-bgOutSide-bgInSide {
    right: -24px;
    width: 218px;
  }
}
/*//*/
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column {
    width: 87%;
  }
}
.media-wrapper-itokoba-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column-item {
    margin-bottom: 8px;
  }
}
.media-wrapper-itokoba-column-item:nth-child(1) {
  margin-top: 17px;
}
.media-wrapper-itokoba-column-item:nth-child(5) {
  margin-bottom: 0px;
}
.media-wrapper-itokoba-column-item-image {
  margin-right: 14px;
  width: 82px;
  flex-shrink: 0;
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column-item-image {
    width: 61px;
  }
}
.media-wrapper-itokoba-column-item-image-img {
  width: 100%;
}
.media-wrapper-itokoba-column-item-description {
  line-height: 1.25;
  width: 255px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-column-item-description {
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column-item-description {
    font-size: 12px;
  }
}
.media-wrapper-itokoba-texts {
  margin-left: 47px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-texts {
    margin-left: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .media-wrapper-itokoba-texts {
    text-align: start;
  }
}
.media-wrapper-itokoba-texts-title {
  margin-bottom: 0px;
  display: inline-block;
  line-height: 1.28125;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 96px;
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-texts-title {
    line-height: 1.27083333333;
    font-size: 48px;
  }
}
.media-wrapper-itokoba-texts-text {
  /*  width: 531px;*/
  width: 526px;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-texts-text {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
    text-align: start;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-texts-text {
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
/*eclair*/
.media-wrapper-eclairBlog {
  position: relative;
  padding-bottom: 215px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog {
    padding-bottom: 132px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog {
    justify-content: flex-end;
  }
}
/*背景*/
.media-wrapper-eclairBlog-bgOutSide {
  position: absolute;
  z-index: -1;
  top: 336px;
  left: -5vw;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-bgOutSide {
    top: 406px;
  }
}
.media-wrapper-eclairBlog-bgOutSide-bgInSide {
  position: relative;
  margin-right: auto;
  left: -5px;
  width: 288px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-bgOutSide-bgInSide {
    left: -8px;
    width: 168px;
  }
}
/*//*/
.media-wrapper-eclairBlog-texts {
  margin-right: 50px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-texts {
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .media-wrapper-eclairBlog-texts {
    text-align: start;
  }
}
.media-wrapper-eclairBlog-texts-title {
  margin-bottom: 32px;
  display: inline-block;
  line-height: 1.28125;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 96px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-texts-title {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-texts-title {
    line-height: 1.27083333333;
    font-size: 48px;
  }
}
.media-wrapper-eclairBlog-texts-text {
  width: 525px;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-texts-text {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
    text-align: start;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-texts-text {
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column {
    width: 87%;
  }
}
.media-wrapper-eclairBlog-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column-item {
    margin-bottom: 8px;
  }
}
.media-wrapper-eclairBlog-column-item:nth-child(1) {
  margin-top: 29px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-column-item:nth-child(1) {
    margin-top: 17px;
  }
}
.media-wrapper-eclairBlog-column-item:nth-child(5) {
  margin-bottom: 0px;
}
.media-wrapper-eclairBlog-column-item-image {
  margin-right: 14px;
  width: 82px;
  flex-shrink: 0;
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column-item-image {
    width: 61px;
  }
}
.media-wrapper-eclairBlog-column-item-image-img {
  width: 100%;
}
.media-wrapper-eclairBlog-column-item-description {
  line-height: 1.25;
  width: 255px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-column-item-description {
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column-item-description {
    font-size: 12px;
  }
}
/*note*/
.note-wrapper {
  position: relative;
  background-color: #fefefe;
}
.note-wrapper-top {
  border-top: 9.531vw solid transparent;
  border-left: 100vw solid #02b6a0;
  height: 0;
  width: 0;
}
.note-wrapper-middle {
  width: 100%;
  background-color: #02b6a0;
}
.note-wrapper-middle-inner {
  margin-right: 5vw;
  margin-left: 5vw;
}
.note-wrapper-middle-inner-titles_wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1152px;
  padding-left: 75px;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-titles_wrapper {
    padding-left: 0px;
  }
}
.note-wrapper-middle-inner-titles {
  padding-top: 39px;
  padding-bottom: 66px;
  display: flex;
  gap: 51px;
}
@media screen and (max-width: 1100px) {
  .note-wrapper-middle-inner-titles {
    display: block;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-titles {
    padding-top: 9px;
    padding-bottom: 24px;
  }
}
.note-wrapper-middle-inner-titles-mainTitle {
  text-shadow: 4px 4px 0px #333333;
  line-height: 1.28125;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: #fff;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-titles-mainTitle {
    line-height: 1.27777777778;
    font-size: 36px;
  }
}
.note-wrapper-middle-inner-titles-subTitle {
  margin-top: 55px;
  text-shadow: 1px 1px #333333;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 1100px) {
  .note-wrapper-middle-inner-titles-subTitle {
    margin-top: 8px;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-titles-subTitle {
    width: 93%;
    letter-spacing: 0.08333em;
    line-height: 1.75;
    font-size: 12px;
  }
}
/*cards*/
/*
.note-wrapper-middle-inner-cards-lineTop {
  display: flex;
  justify-content: center;
}
*/

/*cards-top*/
.note-wrapper-middle-inner-cards-lineTop {
  /*  margin-left: 67px;*/
  margin-left: 57px;
  /*  padding-bottom: 54px;*/
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineTop {
    margin-right: auto;
    margin-left: 5.9%;
    /*        padding-bottom: 26px;*/
    padding-bottom: 36px;
    display: block;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineTop {
    margin-left: 5.313vw;
  }
}
.note-wrapper-middle-inner-cards-lineTop-image {
  width: 489px;
  /*    width: 498px;*/
  flex-shrink: 0;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineTop-image {
    /*        width: 255px;*/
    width: 245px;
  }
}
.note-wrapper-middle-inner-cards-lineTop-image-img {
  box-shadow: 10px 10px 0px #333;
  width: 100%;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineTop-image-img {
    border: 1px solid #333;
  }
}
/*cards-middle*/
.note-wrapper-middle-inner-cards-lineMiddle {
  /*  margin-right: 101px;*/
  margin-right: 111px;
  /*  padding-bottom: 108px;*/
  margin-bottom: 118px;
  display: flex;
  justify-content: center;
  /*  gap: 108px;*/
  gap: 118px;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineMiddle {
    margin-right: 0px;
    /*        padding-bottom: 0px;*/
    margin-bottom: 0px;
    display: block;
  }
}
/*cards-middle-leftImage*/
.note-wrapper-middle-inner-cards-lineMiddle-leftImage {
  /*  width: 500px;*/
  width: 490px;
  box-shadow: 10px 10px 0px #333;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineMiddle-leftImage {
    margin-right: 5.9%;
    /*        margin-bottom: 26px;*/
    margin-bottom: 36px;
    margin-left: auto;
    display: block;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineMiddle-leftImage {
    /*        width: 189px;*/
    width: 179px;
  }
}
@media screen and (max-width: 400px) {
  .note-wrapper-middle-inner-cards-lineMiddle-leftImage {
    margin-right: auto;
    margin-left: 2.5vw;
  }
}
.note-wrapper-middle-inner-cards-lineMiddle-leftImage-img {
  width: 100%;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineMiddle-leftImage-img {
    border: 1px solid #333;
  }
}
/*cards-middle-rightImage*/
.note-wrapper-middle-inner-cards-lineMiddle-rightImage {
  /*  width: 331px;*/
  width: 321px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineMiddle-rightImage {
    margin-right: auto;
    /*        margin-bottom: 45px;*/
    margin-bottom: 55px;
    margin-left: 5.9%;
    display: block;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineMiddle-rightImage {
    /*        width: 190px;*/
    width: 180px;
  }
}
@media screen and (max-width: 400px) {
  .note-wrapper-middle-inner-cards-lineMiddle-rightImage {
    margin-right: auto;
    margin-left: 27.5vw;
  }
}
.note-wrapper-middle-inner-cards-lineMiddle-rightImage-img {
  box-shadow: 10px 10px 0px #333;
  width: 100%;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineMiddle-rightImage-img {
    border: 1px solid #333;
  }
}
/*cards-bottom*/
.note-wrapper-middle-inner-cards-lineBottom {
  margin-left: 45px;
  /*  padding-bottom: 172px;*/
  padding-bottom: 182px;
  display: flex;
  justify-content: center;
  /*  gap: 88px;*/
  gap: 98px;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineBottom {
    margin-left: 0px;
    padding-bottom: 0px;
    display: block;
  }
}
/*cards-bottom-left*/
.note-wrapper-middle-inner-cards-lineBottom-leftImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  width: 331px;*/
  width: 321px;
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineBottom-leftImage {
    margin-right: 5.9%;
    /*        margin-bottom: 45px;*/
    margin-bottom: 55px;
    margin-left: auto;
    display: block;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineBottom-leftImage {
    /*        width: 239px;*/
    width: 229px;
  }
}
@media screen and (max-width: 400px) {
  .note-wrapper-middle-inner-cards-lineBottom-leftImage {
    margin-right: auto;
    margin-left: 2.5vw;
  }
}
.note-wrapper-middle-inner-cards-lineBottom-leftImage-img {
  box-shadow: 10px 10px 0px #333;
  width: 100%;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineBottom-leftImage-img {
    border: 1px solid #333;
  }
}
/*cards-bottom-right*/
.note-wrapper-middle-inner-cards-lineBottom-rightImage {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  width: 500px;*/
  width: 490px;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .note-wrapper-middle-inner-cards-lineBottom-rightImage {
    margin-right: auto;
    margin-left: 5.9%;
    /*        padding-bottom: 85px;*/
    padding-bottom: 95px;
    display: block;
  }
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineBottom-rightImage {
    /*        width: 271px;*/
    width: 261px;
  }
}
@media screen and (max-width: 400px) {
  .note-wrapper-middle-inner-cards-lineBottom-rightImage {
    margin-right: auto;
    margin-left: 2.5vw;
  }
}
.note-wrapper-middle-inner-cards-lineBottom-rightImage-img {
  box-shadow: 10px 10px 0px #333;
  width: 100%;
}
@media screen and (max-width: 628px) {
  .note-wrapper-middle-inner-cards-lineBottom-rightImage-img {
    border: 1px solid #333;
  }
}
/*下三角形*/
.note-wrapper-bottom {
  position: relative;
  border-top: 9.531vw solid #02b6a0;
  border-left: 100vw solid #333;
  height: 0;
  width: 0;
}
/* twitter */

.twitter-top {
  position: relative;
  z-index: 9999;
  margin-top: -12.344vw;
  border-top: 10.156vw solid transparent;
  border-right: 100vw solid #358bdb;
  height: 0;
  width: 0;
}
.twitter-middle {
  position: relative;
  background-color: #358bdb;
}
.twitter-middle-inner {
  margin-right: 5vw;
  margin-left: 5vw;
}

.twitter-middle-inner-container {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 47px;
  max-width: 1152px;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .twitter-middle-inner-container {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container {
    padding-bottom: 80px;
  }
}

.twitter-middle-inner-container-texts {
  order: 2;
  margin-left: 87px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .twitter-middle-inner-container-texts {
    margin-left: 0px;
  }
}

.twitter-middle-inner-container-texts-title {
  margin-bottom: 22px;
  padding-top: 29px;
  line-height: 1.28125;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container-texts-title {
    margin-bottom: 0px;
    padding-top: 55px;
    line-height: 1.27777777778;
    font-size: 36px;
  }
}

.twitter-middle-inner-container-texts-text {
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .twitter-middle-inner-container-texts-text {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container-texts-text {
    margin-bottom: 34px;
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}

/* @media screen and (max-width: 1200px) {
  .twitter-middle-inner-container-texts-text-br {
    display: none;
  }
} */

.twitter-middle-inner-container-people {
  order: 1;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .twitter-middle-inner-container-people {
    justify-content: center;
    /* gap: 60px; */
    gap: 10vw;
  }
}

.twitter-middle-inner-container-people-left {
  padding-top: 148px;
  margin-left: 73px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .twitter-middle-inner-container-people-left {
    padding-top: 0px;
    margin-left: 0px;
  }
}

.twitter-middle-inner-container-people-left-image {
  margin-right: auto;
  margin-bottom: 28.3px;
  margin-left: auto;
  width: 149.66px;
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container-people-left-image {
    margin-bottom: 14px;
    width: 120px;
  }
}

.twitter-middle-inner-container-people-left-image-img {
  width: 100%;
}

.twitter-middle-inner-container-people-left-text {
  line-height: 1.27777777778;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container-people-left-text {
    font-size: 18px;
  }
}

.twitter-middle-inner-container-people-right {
  padding-top: 98px;
  margin-left: 86px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .twitter-middle-inner-container-people-right {
    padding-top: 0px;
    margin-left: 0px;
  }
}

.twitter-middle-inner-container-people-right-image {
  margin-right: auto;
  margin-bottom: 28.3px;
  margin-left: auto;
  width: 149.66px;
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container-people-right-image {
    margin-bottom: 14px;
    width: 120px;
  }
}

.twitter-middle-inner-container-people-right-image-img {
  width: 100%;
}

.twitter-middle-inner-container-people-right-text {
  line-height: 1.27777777778;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .twitter-middle-inner-container-people-right-text {
    font-size: 18px;
  }
}

.twitter-bottom {
  border-top: 10.156vw solid #358bdb;
  border-right: 100vw solid #e0e0e0;
  height: 0;
  width: 0;
}
