@charset "UTF-8";
/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/
/*font-family: 'Noto Sans JP', sans-serif;*/
/* CSS Document */
.header-wrapper {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-top: 43px;
  padding-bottom: 26px;
}
@media screen and (max-width: 450px) {
  .header-wrapper {
    padding-top: 84px;
    padding-bottom: 0px;
  }
}
.header-wrapper-nav {
  margin-right: auto;
  margin-left: auto;
  width: 836px;
}
@media screen and (max-width: 840px) {
  .header-wrapper-nav {
    width: 94.6875%;
  }
}
@media screen and (max-width: 450px) {
  .header-wrapper-nav {
    width: 88.4375%;
  }
}
.header-wrapper-nav-list {
  display: flex;
  justify-content: space-between;
}
.header-wrapper-nav-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .siteLogo {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 11px;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .header-wrapper-nav-list-item-image {
    width: 49.63px;
  }
}
.header-wrapper-nav-list-item-image-img {
  width: 100%;
}
.header-wrapper-nav-list-item-link {
  line-height: 1.35714286;
  letter-spacing: 0.14186em;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
@media screen and (max-width: 450px) {
  .header-wrapper-nav-list-item-link {
    letter-spacing: 0.16667em;
    line-height: 1.3333;
    font-size: 12px;
  }
}
.header-wrapper-nav-list-item-link:hover {
  opacity: 0.5;
}
/*main*/
.firstView-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  margin-right: 5vw;
  margin-left: 5vw;
  padding-top: 107px;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper {
    padding-top: 56px;
  }
}
.firstView-wrapper-firstBG_wrapper {
  position: absolute;
  top: 0px;
  left: -5vw;
  z-index: -1;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-firstBG_wrapper {
    top: -33px;
  }
}
.firstView-wrapper-firstBG {
  position: relative;
  left: 24px;
  margin-left: auto;
  width: 348px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-firstBG {
    left: 43px;
    width: 182px;
  }
}
.firstView-wrapper-secondBG {
  position: absolute;
  z-index: -1;
  top: 52px;
  left: calc(-5vw - 244px);
  width: 874px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-secondBG {
    left: calc(-5vw - 137px);
    width: 309px;
  }
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-secondBG {
    top: 66px;
    left: calc(-5vw - 134px);
  }
}
.firstView-wrapper-thirdBG {
  position: absolute;
  top: 583px;
  left: 5vw;
  z-index: -2;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thirdBG {
    top: 337px;
  }
}
.firstView-wrapper-thirdBG-container {
  position: relative;
  right: 105px;
  margin-left: auto;
  width: 170px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thirdBG-container {
    right: -16px;
    width: 136px;
  }
}
.firstView-wrapper-image {
  width: 100%;
}
.firstView-wrapper-thumbnail {
  margin-bottom: 31px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-thumbnail {
    margin-bottom: 16px;
  }
}
.firstView-wrapper-thumbnail:hover {
  opacity: 0.5;
}
.firstView-wrapper-thumbnail-image {
  background-color: #DEDEDE;
  padding: 20px 20px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thumbnail-image {
    padding: 10px 10px;
  }
}
.firstView-wrapper-thumbnail-image-img {
  width: 586px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-thumbnail-image-img {
    width: 100%;
  }
}
.firstView-wrapper-time {
  margin-bottom: 179px;
  display: block;
  line-height: 1.3125;
  letter-spacing: 0.08333em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 48px;
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-time {
    margin-bottom: 175px;
    line-height: 1.333333333;
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-time {
    display: inline-block;
    text-align: start;
  }
}
.firstView-wrapper-time-br {
  display: none;
}
@media screen and (max-width: 450px) {
  .firstView-wrapper-time-br {
    display: block;
  }
}
.firstView-wrapper-concept {
  margin-right: auto;
  margin-bottom: 166px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 913px;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept {
    width: 98%;
  }
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-concept {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.firstView-wrapper-concept-image {
  margin-right: 34px;
  width: 240.03px;
  flex-shrink: 0;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept-image {
    width: 135.36px;
  }
}
@media screen and (max-width: 840px) {
  .firstView-wrapper-concept-image {
    margin-right: 0px;
    margin-bottom: 28px;
  }
}
.firstView-wrapper-concept-image-img {
  width: 100%;
}
.firstView-wrapper-concept-texts {
  text-align: start;
}
.firstView-wrapper-concept-texts-title {
  margin-bottom: 23px;
  line-height: 1.19444444;
  letter-spacing: 0.08333em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 36px;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept-texts-title {
    margin-bottom: 3px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-size: 20px;
  }
}
.firstView-wrapper-concept-texts-text {
  line-height: 1.5;
  letter-spacing: 0.0555em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .firstView-wrapper-concept-texts-text {
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
/*mediaSection*/
.media-wrapper {
  margin-right: 5vw;
  margin-left: 5vw;
}
/*eclairMedia*/
.media-wrapper-eclairMedia {
  position: relative;
  margin-bottom: 172px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia {
    margin-bottom: 80px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia {
    justify-content: flex-end;
  }
}
.media-wrapper-eclairMedia-bgOutSide {
  position: absolute;
  z-index: -1;
  top: 353px;
  left: -5vw;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-bgOutSide {
    top: 417px;
  }
}
.media-wrapper-eclairMedia-bgOutSide-bgInSide {
  position: relative;
  left: -5px;
  width: 288px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-bgOutSide-bgInSide {
    left: -46px;
    width: 150px;
  }
}
.mediaImg {
  width: 100%;
}
.media-wrapper-eclairMedia-texts {
  margin-right: 50px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-texts {
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .media-wrapper-eclairMedia-texts {
    text-align: start;
  }
}
.media-wrapper-eclairMedia-texts-title {
  margin-bottom: 33px;
  display: inline-block;
  line-height: 1.28125;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 96px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-texts-title {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-texts-title {
    line-height: 1.27083333;
    font-size: 48px;
  }
}
.media-wrapper-eclairMedia-texts-text {
  width: 531px;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-texts-text {
    margin-right: auto;
    margin-left: auto;
    text-align: start;
    width: 98%;
    line-height: 1.77777777778;
    letter-spacing: 0.0555em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-texts-text {
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column {
    width: 87%;
  }
}
.media-wrapper-eclairMedia-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-column-item {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column-item {
    margin-bottom: 8px;
  }
}
.media-wrapper-eclairMedia-column-item:nth-child(1) {
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-column-item:nth-child(1) {
    margin-top: 17px;
  }
}
.media-wrapper-eclairMedia-column-item:nth-child(5) {
  margin-bottom: 0px;
}
.media-wrapper-eclairMedia-column-item-image {
  margin-right: 14px;
  width: 82px;
  flex-shrink: 0;
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column-item-image {
    width: 61px;
  }
}
.media-wrapper-eclairMedia-column-item-image-img {
  width: 100%;
}
.media-wrapper-eclairMedia-column-item-description {
  line-height: 1.25;
  width: 255px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairMedia-column-item-description {
    line-height: 1.25;
    width: fit-content;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairMedia-column-item-description {
    font-size: 12px;
  }
}
/*itokoba*/
.media-wrappwer-itokoba {
  position: relative;
  /*    こちらが正規*/
  /*  margin-bottom: 112px;*/
  margin-bottom: 118px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .media-wrappwer-itokoba {
    flex-wrap: wrap-reverse;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrappwer-itokoba {
    justify-content: flex-start;
  }
}
/*背景*/
.media-wrapper-itokoba-bgOutSide {
  position: absolute;
  z-index: -1;
  top: 351px;
  left: -5vw;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-bgOutSide {
    top: 369px;
  }
}
.media-wrapper-itokoba-bgOutSide-bgInSide {
  position: relative;
  margin-left: auto;
  width: 288px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-bgOutSide-bgInSide {
    right: -24px;
    width: 218px;
  }
}
/*//*/
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column {
    width: 87%;
  }
}
.media-wrapper-itokoba-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column-item {
    margin-bottom: 8px;
  }
}
.media-wrapper-itokoba-column-item:nth-child(1) {
  margin-top: 17px;
}
.media-wrapper-itokoba-column-item:nth-child(5) {
  margin-bottom: 0px;
}
.media-wrapper-itokoba-column-item-image {
  margin-right: 14px;
  width: 82px;
  flex-shrink: 0;
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column-item-image {
    width: 61px;
  }
}
.media-wrapper-itokoba-column-item-image-img {
  width: 100%;
}
.media-wrapper-itokoba-column-item-description {
  line-height: 1.25;
  width: 255px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-column-item-description {
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-column-item-description {
    font-size: 12px;
  }
}
.media-wrapper-itokoba-texts {
  margin-left: 47px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-texts {
    margin-left: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .media-wrapper-itokoba-texts {
    text-align: start;
  }
}
.media-wrapper-itokoba-texts-title {
  margin-bottom: 0px;
  display: inline-block;
  line-height: 1.28125;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 96px;
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-texts-title {
    line-height: 1.27083333333;
    font-size: 48px;
  }
}
.media-wrapper-itokoba-texts-text {
  /*  width: 531px;*/
  width: 526px;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-itokoba-texts-text {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
    text-align: start;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-itokoba-texts-text {
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
/*eclair*/
.media-wrapper-eclairBlog {
  position: relative;
  padding-bottom: 215px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog {
    padding-bottom: 132px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog {
    justify-content: flex-end;
  }
}
/*背景*/
.media-wrapper-eclairBlog-bgOutSide {
  position: absolute;
  z-index: -1;
  top: 336px;
  left: -5vw;
  width: 100vw;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-bgOutSide {
    top: 406px;
  }
}
.media-wrapper-eclairBlog-bgOutSide-bgInSide {
  position: relative;
  margin-right: auto;
  left: -5px;
  width: 288px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-bgOutSide-bgInSide {
    left: -8px;
    width: 168px;
  }
}
/*//*/
.media-wrapper-eclairBlog-texts {
  margin-right: 50px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-texts {
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .media-wrapper-eclairBlog-texts {
    text-align: start;
  }
}
.media-wrapper-eclairBlog-texts-title {
  margin-bottom: 32px;
  display: inline-block;
  line-height: 1.28125;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 96px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-texts-title {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-texts-title {
    line-height: 1.27083333333;
    font-size: 48px;
  }
}
.media-wrapper-eclairBlog-texts-text {
  width: 525px;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 18px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-texts-text {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
    text-align: start;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-texts-text {
    line-height: 1.75;
    letter-spacing: 0.08333em;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column {
    width: 87%;
  }
}
.media-wrapper-eclairBlog-column-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column-item {
    margin-bottom: 8px;
  }
}
.media-wrapper-eclairBlog-column-item:nth-child(1) {
  margin-top: 29px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-column-item:nth-child(1) {
    margin-top: 17px;
  }
}
.media-wrapper-eclairBlog-column-item:nth-child(5) {
  margin-bottom: 0px;
}
.media-wrapper-eclairBlog-column-item-image {
  margin-right: 14px;
  width: 82px;
  flex-shrink: 0;
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column-item-image {
    width: 61px;
  }
}
.media-wrapper-eclairBlog-column-item-image-img {
  width: 100%;
}
.media-wrapper-eclairBlog-column-item-description {
  line-height: 1.25;
  width: 255px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
@media screen and (max-width: 1000px) {
  .media-wrapper-eclairBlog-column-item-description {
    width: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .media-wrapper-eclairBlog-column-item-description {
    font-size: 12px;
  }
}
/*note*/
/*
.note-wrapper{
    position: relative;
    z-index: 2;
}
.note-wrapper-bg{
    position: absolute;
    z-index: 3;
    padding-bottom: 146px;
    width: 100vw;
    overflow: hidden;
}
.note-wrapper-bg-bgColor02B6A0{
    position: relative;
    z-index: 4;
    top: 78px;
    left: -264.3px;
    transform: rotate(5.38deg);
    width: 1719.57px;
    height: 1460.21px;
    background-color: #02B6A0;
}
.note-wrapper-bg-bgColor333{
    position: absolute;
    z-index: 3;
    bottom: 32px;
    width: 100vw;
    padding-bottom: 89px;
    background-color: #333;
}
.note-wrapper-inner{
    position: relative;
    z-index: 5;
    padding-top: 140px;
    margin-right: 5vw;
    margin-left: 5vw;
}
.note-wrapper-inner-titles{
    margin-bottom: 66px;
    padding-top: 39px;
    display: flex;
    align-items: center;
}
.note-wrapper-inner-titles-mainTitle{
    margin-left: 75px;
    line-height: 1.28125;
    text-shadow: 4px 4px 0px #333;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 96px;
    color: #fff;
}
.note-wrapper-inner-titles-subTitle{
    margin-left: 51px;
    text-shadow: 1px 1px 0px #333;
    line-height: 1.77777778;
    letter-spacing: 0.0555em;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}
.note-wrapper-inner-cards-topSide{
    margin-bottom: 54px;
    display: flex;
    justify-content: center;
}
.note-wrapper-inner-cards-topSide-image{
    margin-left: 67px;
    width: 499px;
}
.note-wrapper-inner-cards-topSide-image-img{
    width: 100%;
}

.note-wrapper-inner-cards-middleSide{
    padding-bottom: 108px;
    display: flex;
}
@media screen and (max-width: 1000px){
    .note-wrapper-inner-cards-middleSide{
        flex-wrap: wrap;
    }
}
.note-wrapper-inner-cards-middleSide-leftImage{
    margin-left: 56px;
    width: 500px;
}
.note-wrapper-inner-cards-middleSide-leftImage-img{
    width: 100%;
}
.note-wrapper-inner-cards-middleSide-rightImage{
    margin-left: 108px;
    width: 331px;
}
.note-wrapper-inner-cards-middleSide-rightImage-img{
    width: 100%;
}

.note-wrapper-inner-cards-bottomSide{
    padding-bottom: 176px;
    display: flex;
}
@media screen and (max-width: 1000px){
    .note-wrapper-inner-cards-bottomSide{
        flex-wrap: wrap;
    }
}
.note-wrapper-inner-cards-bottomSide-leftImage{
    margin-left: 139px;
    width: 331px;
}
.note-wrapper-inner-cards-bottomSide-leftImage-img{
    width: 100%;
}
.note-wrapper-inner-cards-bottomSide-rightImage{
    margin-left: 88px;
    width: 500px;
}
.note-wrapper-inner-cards-bottomSide-rightImage-img{
    width: 100%;
}*/
.note-wrapper {
  position: relative;
  background-color: #FEFEFE;
}
.note-wrapper-top {
  border-top: 9.531vw solid transparent;
  border-left: 100vw solid #02B6A0;
  height: 0;
  width: 0;
}
.note-wrapper-middle {
  width: 100%;
  background-color: #02B6A0;
}
.note-wrapper-middle-inner {
  margin-right: 5vw;
  margin-left: 5vw;
}
.note-wrapper-middle-inner-titles_wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1152px;
  padding-left: 75px;
}
.note-wrapper-middle-inner-titles {
  padding-top: 39px;
  padding-bottom: 66px;
  display: flex;
  gap: 51px;
}
.note-wrapper-middle-inner-titles-mainTitle {
  text-shadow: 4px 4px 0px #333333;
  line-height: 1.28125;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: #fff;
}
.note-wrapper-middle-inner-titles-subTitle {
  margin-top: 55px;
  text-shadow: 1px 1px #333333;
  line-height: 1.77777777778;
  letter-spacing: 0.0555em;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: #fff;
}
/*cards*/
.note-wrapper-middle-inner-cards-lineTop {
  display: flex;
  justify-content: center;
}
/*cards-top*/
.note-wrapper-middle-inner-cards-lineTop {
  display: flex;
  align-items: center;
  justify-content: center;
    margin-left: 67px;
}
.note-wrapper-middle-inner-cards-lineTop-image {
/*  margin-left: 67px;*/
  width: 499px;
  flex-shrink: 0;
}
.note-wrapper-middle-inner-cards-lineTop-image-img {
  width: 100%;
}
/*cards-middle*/
.note-wrapper-middle-inner-cards-lineMiddle {
  display: flex;
  justify-content: center;
  gap: 108px;
}
/*cards-middle-leftImage*/
.note-wrapper-middle-inner-cards-lineMiddle-leftImage {
  width: 500px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.note-wrapper-middle-inner-cards-lineMiddle-leftImage-img {
  width: 100%;
}
/*cards-middle-rightImage*/
.note-wrapper-middle-inner-cards-lineMiddle-rightImage {
  width: 331px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.note-wrapper-middle-inner-cards-lineMiddle-rightImage-img {
  width: 100%;
}
.note-wrapper-bottom {
  border-top: 9.531vw solid #02B6A0;
  border-left: 100vw solid #333;
  height: 0;
  width: 0;
}